<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>

       <H1>{{ status }}</H1>
       {% if loop == "cities" %}
       <H3>Cities:</H3>
       <UL>
               {% for item in a_list|sort(attribute='name') %}
	       <LI>{{ item.id }}: <B>{{ item.name }}</B></LI>
	       {% if not loop.last %}{{ "\n" }}{% endif %}
	       {% endfor %}
       </UL>
       {% endif %}
       {% if loop == "states" %}
       <UL>

	{% for item in a_list|sort(attribute='name') %}
	   <LI>{{ item.id }}: <B>{{ item.name }}</B></LI>{{ "\n" }}
	{% endfor %}
       </UL>
       {% endif %}

    </BODY>
</HTML>
